:root{
    --main-bg-color:hsl(229, 57%, 11%);
    --loading-color:linear-gradient( hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
    --card-color:hsl(228, 56%, 26%);
}

* { 
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

body{
    min-height:100vh;
    height:100vh;
    background-color: var(--main-bg-color);
    color:white;
    font-family: 'Raleway';
}

.black{
    color:black;
    font-size: 1.5rem;
}

.bold{
    font-weight: 700;
}

.grey-text{
    color:hsl(229, 7%, 55%)
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}

.cards-container{
    display: flex;
    gap:1em;
}


/* Options card */

.options-card{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 18rem;
    height: 12rem;
    background-color: var(--card-color);
    border-radius: 10px 100px 10px 10px;
}

.options-container{
    display: flex;
    flex-direction: column;
    width:80%;
    height:50%;
    margin-left:15%;
    justify-content: space-between;
}

.logo{
    height:2em;
    width:6em;
}

.icons-section{
    display: flex;
    width:50%;
    flex-direction: row;
    align-items: baseline;
    gap:20px;
    background-color: var(--card-color);
}


.icon{
    background-color: var(--main-bg-color);
    padding:0.5em;
    border-radius: 5px;;
}

/* Loading card */

.loading-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 8rem;
    background-color: var(--card-color);
    border-radius: 10px;
    align-self: flex-end;
    position: relative;
}

.loading-container{
    display: flex;
    flex-direction: column;
    gap:0.75em;
    margin-left:7.5%;
    width:80%;
}


.loading-bar {
    height:1em;
    background-color: #0c122c;
    border-radius: 1.5em;
}
  
.progress {
    height:1em;
    width:80%;
    background:linear-gradient(to right, #ffa399, #ff4d97);
    border-radius: 1.5em;
    position: relative;
}
  
.circle {
    position: absolute;
    height:1em;
    width:1em;
    border-radius: 50%;
    background-color: white;
    right:0em;
    cursor:grab;
}

.bar-values{
    display: flex;
    justify-content: space-between;
}

.tooltip{
    position: absolute;
    background-color: white;
    height:3.5em;
    width:8em;
    border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    top:-1.75em;
    right:12.5%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.tooltip::after {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid white;

    right:0em;
    top:2.5em;
}

@media only screen and (max-width:720px) {
    .container{
        width:100%;
        padding:1em;
        
    }
    .cards-container{
        flex-direction: column;
        width:100%;
        justify-content: center;
        align-items: center;
    }

    .options-card{
        width:90%;
    }

    .loading-card{
        width:90%;
        align-self: center;
        text-align: center;
    }

    .tooltip{
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        top:6em;
        bottom:0em;
        right:33%;
    }

    .tooltip::after{
        border:transparent
    }
}

