*{
    padding:0;
    margin:0;
    font-family: 'Barlow Semi Condensed';
    font-size: 0.9rem;
}

body{
    height:100vh;
    width:100%;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 1.1rem;
}


.container{
    display: grid;
    gap: 1em;
    width:70%;
    height:60%;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    color:white;
}

.box{
    padding: 1.5em;
}

.box-1{
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/span 2;
}

.box-2{
    background-color: hsl(217, 19%, 35%);
    grid-column:3/span 1;
}

.box-3{
    background-color: white;
    grid-column:4/span 1;
    grid-row: span 2;
    color:hsl(219, 29%, 14%)
}

.box-4{
    background-color: white;
    grid-column:1/span 1;
    color:hsl(219, 29%, 14%)
}

.box-5{
    background-color: hsl(219, 29%, 14%);
    grid-column:2/span 2;
}

.avatar-data{
    display: flex;
}

.avatar-info{
    padding-left: 1em;
}

.avatar{
    width:2em;
    height:2em;
    border-radius: 50%;
}

.name{
    display: block;
    font-weight: 600;
}

