*{
    padding:0;
    margin:0;
    font-family: 'Barlow Semi Condensed';
    font-size: 0.9rem;
}

body{
    height:100vh;
    width:100%;
    overflow: hidden;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
}


h3{
    margin-top:0.5em;
    font-size: 1.4rem;
}

p{
    color: hsl(0, 8%, 80%);
}


.container{
    display: grid;
    gap: 2em;
    width:80%;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    color:white;
}

.box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5em;
    border-radius: 5px;
}

.box-1{
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/span 2;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0% right 15%;
}

.box-2{
    background-color: hsl(217, 19%, 35%);
    grid-column:3/span 1;
}

.box-3{
    background-color: white;
    grid-column:4/span 1;
    grid-row: span 2;
    color:hsl(219, 29%, 14%)
}

.box-3 p{
    color:hsl(217, 19%, 35%)
}

.box-4{
    background-color: white;
    grid-column:1/span 1;
    color:hsl(219, 29%, 14%)
}

.box-4 p{
    color: hsl(217, 19%, 35%)
}

.box-5{
    background-color: hsl(219, 29%, 14%);
    grid-column:2/span 2;
}

.avatar-data{
    display: flex;
    margin-top:0.5em;
}

.avatar-info{
    padding-left: 1em;
}

.avatar{
    width:2em;
    height:2em;
    border-radius: 50%;
}

.name{
    display: block;
    font-weight: 600;
}

.description{
    margin-top:1em;
}

@media only screen and (max-width: 720px) {
    body{
        overflow: visible;
        height:100%;
    }
    .container {
      background-color: lightblue;
      grid-template-columns: 1% auto 1%;
      grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    }
    .box{
        grid-column: 2/span 1;
    }
  }

