*{
    padding: 0%;
    margin: 0%;
    /* font-family: 'Karla'; */
}

body{
    height:100vh;
    font-family: 'Karla';
    overflow-x: hidden;

}


.container{
    height:100%;
}

/* Navbar section class */

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height:10%;
    font-family: 'DM Serif Display';
    position: sticky;
}



.nav-bar label, #hamburger{
    display: none;
}

.nav-bar img{
    height:1em;
    cursor: pointer;
    margin-left:10%;
}

.linksContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 10%;
}

.navLink{
    margin-right: 2em;
    cursor: pointer;
    color:hsl(270, 9%, 17%)
}

.btn{
    padding:0.75em;
    width:10em;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
}

.btn:hover{
    color:white;
    background-color: hsl(270, 9%, 17%);
}



/* Main section class */

.main-section{
    display: grid;
    height:80%;
    column-gap: 2em;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% auto 12.5% 12.5%;
}

.background{
    background-color: hsl(256, 26%, 20%);
    grid-row: 1/span 3;
    grid-column: 1/-1;
}

.main-text{
    grid-column: 2/span 1;
    grid-row: 2/span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section img{
    grid-column:3/span 1;
    grid-row: 2/-1;
    object-fit: contain;
    width:75%;
    z-index: 1;
}

.main-text h1{
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size:4em;
    color: white;
    line-height: 1em;
    margin-bottom: 0.25em;
}

.main-text p{
    color:white;
    line-height: 1.5em;
    margin-bottom:1em;
} 

.main-text button{
    color:white;
    border:1px solid white;
    margin-bottom: 1em;
}

.main-text button:hover{
    color:hsl(256, 26%, 20%);
    background-color: white;
}

/* Perks section class */

.different-section{

}

.different-section h2{
    margin-left: 10%;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'DM Serif Display';
}

.perks{
    display: grid;
    gap:5%;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-auto-rows: auto;
}

.perk-column img{
    margin-top:3em;
}


.perk-column h3{
    margin-top:1em;
    color:hsl(270, 9%, 17%)
}

.perk-column p{
    margin-top:0.75em;
    color:hsl(273, 4%, 51%)
}

.perk-column-1{
    grid-column: 2/span 1;
}
.perk-column-2{
    grid-column: 3/span 1;
}
.perk-column-3{
    grid-column: 4/span 1;
}

.perk-image{
    width:4em;
    height:4em;
}


/* How we work classes */

.how-we-work{
    margin:10%;
    color:white;
    background-color: hsl(256, 26%, 20%);
    height:33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.how-we-work h2{
    font-size: 3em;
    margin-left:10%;
    width:50%;
}

.how-we-work .btn{
    color:white;
    border:1px solid white;
    margin-right: 10%;
}

.how-we-work .btn:hover{
    color:hsl(256, 26%, 20%);
    background-color: white;
}


/* Footer section classes*/

hr{
    background-color: hsl(0, 0%, 98%);
}
footer{
    background-color: hsl(0, 0%, 98%);
}

.footer-container{   
    padding-top:3em;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr 2fr;
}



.social{
    grid-column: 2/-1;
}

.footer-logo{
    grid-column: 2/span 1;
}

.social-media{
    grid-column: 9/span 2;
}

.social-icon{
    filter:brightness(100%);
    padding-left:1em;
    cursor: pointer;
}

.social-icon:hover{
    filter:brightness(25%);
    transition: all 0.5s ease;
}

.misc-information{
    grid-row: 2/-1;
    grid-column: 2/-1;
    
}

.information-column{

    display: flex;
    flex-direction: column;
}

.information-column-1{
    grid-column: 2/span 1;
}

.information-column-2{
    grid-column: 4/span 1;
}

.information-column-3{
    grid-column: 6/span 1;
}

.information-column-4{
    grid-column: 8/span 1;
}


.misc-header{
    color:hsl(216, 30%, 68%);
    padding-bottom:1.5em;
}

.misc-option{
    color:hsl(270, 9%, 17%);
    padding-bottom: 0.75em;
    cursor: pointer;
}

.misc-option:hover{
    text-decoration: underline;
}
@media only screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .container{
        width:100%;
    }

    .linksContainer{
        display: none;
    }

    .nav-bar{
        display: block;
        height:auto;
        min-height:10%;
    }

    .nav-bar img{
        padding-top:2em;
    }

    .nav-bar input:checked ~ .linksContainer { 
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        height:10em;
        text-decoration: none;
    }
    

    .nav-bar input:checked ~ ul{
        list-style-type:none;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

    .nav-bar input:checked ~  ul li{
        text-decoration: none;
        border:0;
        padding-left:10px;
        margin: 0 auto;
        display: inline-block;
        padding-top:0.25em;
      }

    .nav-bar label{ 
        position:absolute; 
        right:0%;
        top:1em;
        display: inline-block; 
        color: hsl(270, 9%, 17%);
        border: 1px solid hsl(270, 9%, 17%);
        font-style: normal;
        font-size: 1.2em;
        padding: 0.25em;
        padding-left:0.4em;
        padding-right: 0.4em;
        margin-right:1em;
    }



    .navLink{
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }


    .nav-bar img{
        margin-left:1em;
    }
    
    .main-section{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 10% 40%;
        row-gap: 0;
        height:100%;
    }

    .main-section img{
        grid-column: 1/span 1;
        grid-row: 1/span 2;
        width:100%;
    }

    .main-text{
        color:white;
        grid-row:3/span 1;
        grid-column: 1/span 1;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        padding-left:1em;
        padding-right:1em;
    }

    .main-text h1{
        font-size:3em;
    }

    .background{
        grid-column: 1/span 1;
        grid-row: 2/span 2;
    }

    .different-section{
        margin:0 auto;
    }

    .perks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .perk-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        text-align: center;
    }

    .how-we-work{
        flex-direction: column;
        justify-content: center;
    }

    .how-we-work h2{
        width:75%;
        margin:5%;
        text-align: center;
        font-size: 2em;
    }

    .how-we-work .btn{
        margin:5%;
    }

    footer{
        height:100%;
        overflow-y:visible;
    }
    
    .footer-container{
        /* height:100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo{
        padding-bottom: 1em;
    }
    .misc-header{
        padding-bottom: 0.75em;
    }
    .social-media{
        padding-bottom: 2em;
    }
    .information-column{
        padding-bottom: 0.75em;
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}