*{
    padding: 0%;
    margin: 0%;
    /* font-family: 'Karla'; */
}

body{
    height:100vh;
    font-family: 'Karla';
    overflow-x: hidden;

}


.container{
    height:100%;
}

/* Navbar section class */

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height:10%;
    font-family: 'DM Serif Display';
}

.nav-bar img{
    height:1em;
    cursor: pointer;
    margin-left:10%;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 10%;
}

.navLink{
    margin-right: 2em;
    cursor: pointer;
    color:hsl(270, 9%, 17%)
}

.btn{
    padding:0.75em;
    width:10em;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
}

.btn:hover{
    color:white;
    background-color: hsl(270, 9%, 17%);
}



/* Main section class */

.main-section{
    display: grid;
    height:80%;
    column-gap: 2em;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% auto 12.5% 12.5%;
}

.test{
    background-color: hsl(256, 26%, 20%);
    grid-row: 1/span 3;
    grid-column: 1/-1;
}

.main-text{
    grid-column: 2/span 1;
    grid-row: 2/span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section img{
    grid-column:3/span 1;
    grid-row: 2/-1;
    object-fit: contain;
    width:75%;
}

.main-text h1{
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size:4em;
    color: white;
    line-height: 1em;
    margin-bottom: 0.25em;
}

.main-text p{
    color:white;
    line-height: 1.5em;
    margin-bottom:1em;
} 

.main-text button{
    color:white;
    border:1px solid white;
    margin-bottom: 1em;
}

.main-text button:hover{
    color:hsl(256, 26%, 20%);
    background-color: white;
}

/* Perks section class */

.different-section{
    height:50%;
}

.different-section h2{
    margin-left: 10%;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'DM Serif Display';
}

.perks{
    display: grid;
    gap:5%;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-auto-rows: auto;
}

.perk-column img{
    margin-top:3em;
}

.perk-column h3{
    margin-top:1em;
    color:hsl(270, 9%, 17%)
}

.perk-column p{
    margin-top:0.75em;
    color:hsl(273, 4%, 51%)
}

.perk-column-1{
    grid-column: 2/span 1;
}
.perk-column-2{
    grid-column: 3/span 1;
}
.perk-column-3{
    grid-column: 4/span 1;
}

.perk-image{
    width:4em;
    height:4em;
}

/* Footer section classes*/

hr{
    background-color: hsl(0, 0%, 98%);
}
footer{
    background-color: hsl(0, 0%, 98%);
}

.footer-container{
   
    padding-top:3em;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr 2fr;
}



.social{
    grid-column: 2/-1;
}

.footer-container img{
    grid-column: 2/span 1;
}

.social-media{
    grid-column: 9/span 2;
}

.social-icon{
    padding-left:1em;
    cursor: pointer;
}

.misc-information{
    grid-row: 2/-1;
    grid-column: 2/-1;
    
}

.information-column{

    display: flex;
    flex-direction: column;
}

.information-column-1{
    grid-column: 2/span 1;
}

.information-column-2{
    grid-column: 4/span 1;
}

.information-column-3{
    grid-column: 6/span 1;
}

.information-column-4{
    grid-column: 8/span 1;
}


.misc-header{
    color:hsl(216, 30%, 68%);
    padding-bottom:1.5em;
}

.misc-option{
    color:hsl(270, 9%, 17%);
    padding-bottom: 0.75em;
    cursor: pointer;
}
