*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

body{
    font-size:0.9375rem;
    min-height: 100vh;
    height:100vh;
    overflow-x: hidden;
}

.container{
    height: 100%;
}

.hero{
    height:80%;
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    color:white;
    padding:7em;
    padding-top:2em;
}


.nav{
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    gap:1em;
    font-family: 'Alata';
    color:white;
}

.nav-container-mobile{
    display: none;
}


.nav-link{
    cursor: pointer;
}

.nav-link:hover{
    text-decoration: underline;
    text-underline-offset: 0.4em;
}

.hero-text{
    font-family: 'Josefin Sans';
    padding:2em;
    border: 1px solid white;
    width:50%;
    font-size: 1.5rem;
    letter-spacing: 0.25em;
    line-height: 2.5em;
    margin-top:2em;
}

/* ABOUT SECTION */

.about-section{
    padding:7em;
    display: grid;
    grid-template:40% 20% 40%/50% 10% 40%;
}

.about-image{
    grid-column: 1/3;
    grid-row:1/-1
}

.about-text{
    grid-column: 2/-1;
    grid-row:2/-1;
    color:black;
    background-color: white;
    padding:5em;
}

.about-header{
    font-family: 'Josefin Sans';
    letter-spacing: 0.1em;
}

.about-paragraph{
    font-family: 'Josefin Sans';
    padding-top:2em;
}

/* CREATIONS SECTION */

.creation-section{
    padding: 4em 7em;

}

.creation-header-section{
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
}

.creation-header{
    font-family:'Josefin Sans';
    font-size:2rem;
    letter-spacing: 0.25em;
}

.see-all{
    font-family: 'Alata';
    letter-spacing: 0.3em;
    padding:0.6em 3em;
    color:black;
    background-color: white;
    border:1px solid black;
    cursor: pointer;
}

.see-all:hover{
    color:white;
    background-color: black;
}

.creations-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    gap:1em;
    margin-top:5em;
}

.image-container{
    cursor: pointer;
    position: relative;
    transition: transform 250ms;
}

.image-container:hover{
    transform:translateY(-10px);
}

.creation-image{
    filter: brightness(90%);
}

.image-text{
    color:white;
    font-family: 'Josefin Sans';
    font-size:2rem;
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 1.5em;
    padding-left:0.75em;
}

/* FOOTER SECTION */

.footer-section{
    width:100vw;
    height:22.5%;
    background-color: black;
    padding:2em 7em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    row-gap: 2em;
}

.footer-section .social-container{
    grid-column: 4/-1;
    display: flex;
    gap:10px;
    margin-left:6em;
}

.social-icon{
    width:1.75em;
    height:1.75em;
    cursor: pointer;
}

.copyright{
    grid-column: 4/-1;
    grid-row: 2;
    color:white;
}