@media only screen and (max-width:720px){
    
    body{
        overflow-x: hidden;
    }

    .hero{
        padding-left:1em;
        background-image: url(../images/mobile/image-hero.jpg);
    }

    .hero-text{
        font-size: 0.85rem;
        line-height: 2em;
        width:100%;
        padding:1.5em;
        margin-top:50%;
        margin-left:2%;
        }

    .logo{
        width:45%;
    }

    .nav{
        align-items: center;
        height:10%;
    }
    
    .nav-container{
        display: none;
    }
    .nav-container-mobile{
        display: none;
        justify-content: space-between;
        margin-top:1em;
        font-style: italic;
    }

    .show{
        display: flex;
    }
    
}